In [1]:
#Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extracting Data

In [2]:
#Importing the JSON file (The whole Raw data)
json_file = "D:/ETL/Project/disney_movies.json"
json_movies = pd.read_json(json_file)

#Listing all the columns in the json file
json_movies.columns

Index(['title', 'Production company', 'Release date', 'Running time',
       'Country', 'Language', 'Box office', 'Running time (int)',
       'Budget (float)', 'Box office (float)', 'Release date (datetime)',
       'imdb_rating', 'imdb_votes', 'imdb_id', 'metascore', 'rotten_tomatoes',
       'Directed by', 'Produced by', 'Written by', 'Based on', 'Starring',
       'Music by', 'Distributed by', 'Budget', 'Story by', 'Narrated by',
       'Cinematography', 'Edited by', 'Screenplay by', 'Production companies',
       'Japanese', 'Hepburn', 'Adaptation by', 'Traditional', 'Simplified'],
      dtype='object')

In [3]:
#Extracting only the Columns needed for the Base Table
movies_df = json_movies[['title', 'Release date','Directed by', 'imdb_rating' ,'Running time',
                         'Budget (float)']].copy()
movies_df.head()
movies_df.columns

Index(['title', 'Release date', 'Directed by', 'imdb_rating', 'Running time',
       'Budget (float)'],
      dtype='object')

In [16]:
csv_file1 = "D:/ETL/Project/disney_movies.csv"
csv_movies1 = pd.read_csv(csv_file1)
csv_movies1.columns

Index(['movie_title', 'release_date', 'genre', 'mpaa_rating', 'total_gross',
       'inflation_adjusted_gross'],
      dtype='object')

In [5]:
csv_file1 = "D:/ETL/Project/disney-characters.csv"
characters_df = pd.read_csv(csv_file1)
characters_df.head()

,movie_title,release_date,hero,villian,song
0,\nSnow White and the Seven Dwarfs,"December 21, 1937",Snow White,Evil Queen,Some Day My Prince Will Come
1,\nPinocchio,"February 7, 1940",Pinocchio,Stromboli,When You Wish upon a Star
2,\nFantasia,"November 13, 1940",NaN,Chernabog,NaN
3,Dumbo,"October 23, 1941",Dumbo,Ringmaster,Baby Mine
4,\nBambi,"August 13, 1942",Bambi,Hunter,Love Is a Song

In [6]:
csv_file2 = "D:/ETL/Project/disney-voice-actors.csv"
csv_movies3 = pd.read_csv(csv_file2)
csv_movies3.head()

        character      voice-actor                        movie
0    Abby Mallard      Joan Cusack               Chicken Little
1  Abigail Gabble     Monica Evans               The Aristocats
2        Abis Mal  Jason Alexander          The Return of Jafar
3             Abu     Frank Welker                      Aladdin
4        Achilles             None  The Hunchback of Notre Dame

# Cleaning the Data

In [7]:
#Renaming the Column Names
movies_df = movies_df.rename(columns={'title': 'Title', 'Release date': 'Release_Date','Directed by': 'Director', 'Running time': 'Run Time(mins)',
                          'Budget (float)':'Budget (USD in Millions)', 'imdb_rating' :'IMDB Rating' } )
movies_df.head()

,Title,Release_Date,Director,IMDB Rating,Run Time(mins),Budget (USD in Millions)
0,Academy Award Review of,"[May 19, 1937]",NaN,7.2,41 minutes (74 minutes 1966 release),NaN
1,Snow White and the Seven Dwarfs,"[December 21, 1937 ( Carthay Circle Theatre , ...","[David Hand (supervising), William Cottrell, W...",7.6,83 minutes,1490000.0
2,Pinocchio,"[February 7, 1940 ( Center Theatre ), February...","[Ben Sharpsteen, Hamilton Luske, Bill Roberts,...",7.4,88 minutes,2600000.0
3,Fantasia,"[November 13, 1940]","[Samuel Armstrong, James Algar, Bill Roberts, ...",7.8,126 minutes,2280000.0
4,The Reluctant Dragon,"[June 20, 1941]","[Alfred Werker, (live action), Hamilton Luske,...",6.9,74 minutes,600000.0

In [8]:
#Formatting the Release Date column
movies_df['Release_Date' ] = movies_df['Release_Date'].str[0]
new_df  = movies_df["Release_Date"].str.split("(", n = 1, expand = True)
movies_df["Release_Date"] = new_df[0]
movies_df.head()

,Title,Release_Date,Director,IMDB Rating,Run Time(mins),Budget (USD in Millions)
0,Academy Award Review of,"May 19, 1937",NaN,7.2,41 minutes (74 minutes 1966 release),NaN
1,Snow White and the Seven Dwarfs,"December 21, 1937","[David Hand (supervising), William Cottrell, W...",7.6,83 minutes,1490000.0
2,Pinocchio,"February 7, 1940","[Ben Sharpsteen, Hamilton Luske, Bill Roberts,...",7.4,88 minutes,2600000.0
3,Fantasia,"November 13, 1940","[Samuel Armstrong, James Algar, Bill Roberts, ...",7.8,126 minutes,2280000.0
4,The Reluctant Dragon,"June 20, 1941","[Alfred Werker, (live action), Hamilton Luske,...",6.9,74 minutes,600000.0

In [12]:
#Formatting the movie_title Column in Characters_df to remove '\n' Characters
characters_df['movie_title']=  characters_df['movie_title'].str.replace('\n', '')
characters_df.columns

Index(['movie_title', 'release_date', 'hero', 'villian', 'song'], dtype='object')

# Transforming Data

In [48]:
#Merging two dataframes to put together basic information of each movie
basic_df = movies_df.merge(csv_movies1, left_on = 'Title', right_on = 'movie_title' )

#Viewing the whole merged dataframe
basic_df.head(2)

,Title,Release_Date,Director,IMDB Rating,Run Time(mins),Budget (USD in Millions),movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"December 21, 1937","[David Hand (supervising), William Cottrell, W...",7.6,83 minutes,1490000.0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,"February 7, 1940","[Ben Sharpsteen, Hamilton Luske, Bill Roberts,...",7.4,88 minutes,2600000.0,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052

In [49]:
#Viewing the columns of merged dataframe to grab the ones that are required
basic_df.columns

Index(['Title', 'Release_Date', 'Director', 'IMDB Rating', 'Run Time(mins)',
       'Budget (USD in Millions)', 'movie_title', 'release_date', 'genre',
       'mpaa_rating', 'total_gross', 'inflation_adjusted_gross'],
      dtype='object')

In [47]:
#Extracting only the relevant columns
basic_df = basic_df[['Title', 'Release_Date', 'Director','Run Time(mins)', 'mpaa_rating']]
basic_df

,Title,Release_Date,Director,Run Time(mins),mpaa_rating
0,Snow White and the Seven Dwarfs,"December 21, 1937","[David Hand (supervising), William Cottrell, W...",83 minutes,G
1,Pinocchio,"February 7, 1940","[Ben Sharpsteen, Hamilton Luske, Bill Roberts,...",88 minutes,G
2,Fantasia,"November 13, 1940","[Samuel Armstrong, James Algar, Bill Roberts, ...",126 minutes,G
3,Song of the South,"November 12, 1946","[Live action:, Harve Foster, Animation:, Wilfr...",94 minutes,G
4,Cinderella,"February 15, 1950","[Clyde Geronimi, Hamilton Luske, Wilfred Jackson]",74 minutes,G
...,...,...,...,...,...
229,Alice Through the Looking Glass,"May 10, 2016",James Bobin,114 minutes,PG
230,Finding Dory,"June 8, 2016",Andrew Stanton,97 minutes,PG
231,The BFG,"May 14, 2016",Steven Spielberg,117 minutes,PG
232,Queen of Katwe,"September 10, 2016",Mira Nair,124 minutes,PG
233,Moana,"November 14, 2016","[Ron Clements, John Musker]",107 minutes,PG

In [54]:
json_movies.columns

Index(['title', 'Production company', 'Release date', 'Running time',
       'Country', 'Language', 'Box office', 'Running time (int)',
       'Budget (float)', 'Box office (float)', 'Release date (datetime)',
       'imdb_rating', 'imdb_votes', 'imdb_id', 'metascore', 'rotten_tomatoes',
       'Directed by', 'Produced by', 'Written by', 'Based on', 'Starring',
       'Music by', 'Distributed by', 'Budget', 'Story by', 'Narrated by',
       'Cinematography', 'Edited by', 'Screenplay by', 'Production companies',
       'Japanese', 'Hepburn', 'Adaptation by', 'Traditional', 'Simplified'],
      dtype='object')